* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Shippori Mincho B1', serif;
  color: #45405c;

}
a {
  text-decoration: none;
  font-weight: bold;
}
h1 {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0px;
}

nav {
  width: 100%;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h3 {
  font-size: 45px;
  font-family: 'Dancing Script', cursive;
  margin-bottom: -15px;
}
.logo img {
  width: 50px;
}

.home-intro {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 50px 0px 80px 0px;
}

.intro-image img {
  border-radius: 50%;
  width: 300px;
  height: auto;
  margin-bottom: 50px;
  box-shadow: 0px 0px 111px -21px rgba(0, 0, 0, 0.1);
}
.intro-name h3 {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 20px;
}

button {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.63px;
  text-transform: uppercase;
  padding: 18px 30px;
  box-shadow: rgba(3, 3, 3, 0.12) 0px 32px 54px;
  color: #fff;
  background: rgb(73, 95, 239);
  transition: all 0.4s ease-out 0s;
  outline: none !important;
  border: none;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  cursor: pointer;
}
ion-icon {
  color: #fff;
  font-size: 30px;
}
footer {
  width: 100%;
  padding: 50px;
  text-align: center;
}
footer h1 {
  padding: 50px;
}
.social-links {
  width: 100%;
  padding: 20px 20px 60px 20px;
}
.social-links ion-icon {
  color: #45405c;
  font-size: 40px;
  margin: 8px;
}
.social-links ion-icon:hover {
  color: blue;
}
code {
  font-weight: bolder;
  font-size: small;
}
footer p {
  padding: 20px;
}
.t-img {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-img img {
  width: 45%;
  margin: 1px 10px;
}
.project-container p {
  font-weight: bold;
  padding: 2px 5%;
}
.project-container {
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
}

.about-me-container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  justify-content: space-around;
  align-items: center;
  
  position: fixed;
  top: 0;
  left: 0;

  background: #fff;
}
.profile-image {
  width: 400px;
  height: 400px;
  border-radius: 50%;

  background-image: url("./image/me.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: rgba(3, 3, 3, 0.12) 0px 32px 54px;
}
.profile-details {
  width: 40%;
}
.profile-details p {
  font-size: 18px;
  line-height: 38px;
  margin: 10px auto;
}
.profile-details h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}
.profile-details a {
  margin-right: 25px;
  font-size: 16px;
}
.close-btn {
  width: 50px;
  height: 50px;
  padding: 0px;
  position: absolute;
  top: 20px;
  right: 50px;
}
.close-btn a{
  color: #fff;
}
.about-me-link {
  cursor: pointer;
  font-weight: bold;
}
.about-me-btn a{
  color: #fff;
}
.about-me-container .logo {
  position: absolute;
  top: 20px;
  left: 50px;
}